@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4", color = "red">Welcome to the Pokedex</h1>
    <p>Learn about <a href="https://www.pokemon.com/us/pokedex">pokemon!</a>.</p>
</div>
