@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>For safety of you and your pokemon's identity, we do not encourage openly sharing your
    pokedex with fellow trainers to avoid fraudulent activity or pokemon theft. 
    
    We are not held accountable for any poke-crime that may occur given this warning.
</p>
